<div class="left">
  <h2>System Gudang</h2>
  <div>
    <input type="text" id="mySearch" placeholder="Search ..." />
  </div>
  <ul id="myMenu">
    <li>
      <a href="/"><i class="fa-solid fa-house"></i> Home</a>
    </li>
    <li>
      <a href="/barang"><i class="fa-solid fa-list"></i> Barang</a>
    </li>
    <li>
      <a href="/barang/report"
        ><i class="fa-solid fa-chart-simple"></i> Report Barang</a
      >
    </li>
  </ul>
</div>
