<div class="container">
  <div class="header">
    <h2>Report Barang</h2>
  </div>
  <div class="row">
    <form action="/barang/report" method="POST">
      <button type="submit" class="btn primary">
        <i class="fa-solid fa-file-pdf"></i> Generate PDF
      </button>
    </form>
  </div>
</div>
